* {
  margin: 0;
  scroll-behavior: auto;
}

.no-border {
  border: 0 !important;
}

.no-bg {
  background-color: transparent !important;
}

.bg-plusLight {
  background-color: rgba(207, 238, 240, 0.37) !important;
}

.bg-plusLighter {
  background-color: rgba(179, 196, 197, 0.39) !important;
}

.big-font {
  font-size: 2.5cm !important;
  font: bolder !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.big-font-2 {
  font-size: 1.5cm !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.active {
  font-style: oblique !important;
}
.ico-img {
  transition: ease-in-out 0.21s;
}
.ico-img:hover {
  transform: scale(1.4);
}
.nav-link {
  transition: step-start(2);
}
.nav-link:hover {
  transform: scaleX(1.1);
}

.hid {
  opacity: 0.5;
  filter: blur(2px);
  transform: matrix(0.1, 0, 0, 0.1, 250, 50);
  transition: all 1s;
}
.show-item {
  opacity: 1;
  filter: blur(0px);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
